@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");

body {
  font-family: "Barlow Condensed", sans-serif;
  color: #eeeeee;
  line-height: 2;
  font-size: 22px;
  background: linear-gradient(-45deg, #971430, #32134b, #086688, #258ead);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.api {
  padding: 2%;
}

img {
  float: left;
  padding-right: 2%;
}

.navbar {
  background-color: rgba(14, 1, 13, 0.8);
  display: flex;
  justify-content: center;
}

.navbar link {
  color: #eeeeee;
}

.link {
  color: #eeeeee;
  display: inline-block;
  padding: 3px 20px;
  font-size: 25px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: #5d86f8;
  transform: scale(1.1);
}

.title {
  color: rgb(212, 104, 104);
  text-shadow: 0 0 0.3em rgb(7, 7, 7);
}

.button {
  display: inline-block;
  padding: 40px 80px;
  border: 0.1em solid #ffffff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
.button:hover {
  color: #000000;
  background-color: #ffffff;
}

@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 0.4em auto;
  }
}
